:root{
    --pink: #f14e95;
    --black:#302c2c;;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.7);
}

body{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
}
.hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(img/we.jpeg);
        background-size: cover;
        background-position: center center;
        z-index: -1;
      }
.hero{
    position: relative;
    min-height: 100vh;
}
.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}
.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}
.hero h4{
    font-size: 1.6rem;
}
.hero p{
    font-size: 1.4rem;
}

.hero a{
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}
.hero a:hover{
    background-color: var(--pink);
    color: rgb(255, 255, 255);
}
.mynavbar{
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);

}
.mynavbar .offcanvas{
    height: 100vh;
}
.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
    font-weight: bold;
}
.mynavbar .nav-link{
    text-transform: uppercase;
}
.home{
    background-image: url(img/output-onlinepngtools.png);
    min-height: 100vh;
    width: 100%;
    margin-top: -6rem;
    padding-top: 13rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
}
.home h2{
    color: var(--pink);
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
}
.home h3{
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.home p{
    font-size: 1.1rem;
    color: #666;
}

.home .couple h3{
    font-family: 'Sacramento', cursive;
    font-size: 2.4rem;
    color: var(--pink);
}

.home .couple img{
    width: 100%;
}
@media(max-width: 992px){
    html{
        font-size: 75%;
    }
    .simply-countdown > .simply-section{
        padding: 60px;
    }
}

@media(max-width: 768px){
    html{
        font-size: 65%;
    }
    .simply-countdown > .simply-section{
        padding: 50px;
        margin: 4px;
    }
    .mynavbar .nav-link{
        font-size: 2rem;
        text-align: center;
    }
    .home{
        background-position: center center;
    }
}

@media(max-width: 567px){
    html{
        font-size: 60%;
    }
    .simply-countdown > .simply-section{
        padding: 35px;
        margin: 3px;
    }
    
}